* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
}

.title {
  margin: 15px;
}

.subtext {
  color: hsl(0, 0%, 80%);
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--col-size), calc(64vw / var(--col-size)));
  grid-template-rows: repeat(var(--row-size), calc(64vh / var(--row-size)));
  gap: calc(4px * (9 / var(--col-size)));
  font-size: calc(3rem * (9 / var(--font-size)));
  background-color: hsl(0, 0%, 47%);
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 20%);
}

.rectangle {
  grid-template-columns: repeat(var(--col-size), calc(80vw / var(--col-size)));
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--tile-color), 50%, 50%);
  border: 0.2em solid hsl(0, 0%, 73%);
  user-select: none;
}

.board > [data-status="hidden"] {
  background-color: hsl(0, 0%, 73%);
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: hsl(0, 100%, 50%);
}

.board > [data-status="number"] {
  background: none;
  color: hsl(var(--tile-color), 50%, 50%);
}

.board > [data-status="marked"] {
  background-color: hsl(60, 100%, 50%);
}

[data-mine-count] {
  font-size: 1.2em;
}

.button {
  all: unset;
}

.button:focus {
  outline: revert;
}

.difficulties {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.difficulty-button {
  height: 100%;
  width: 25vw;
  margin: 2vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 20%);
  cursor: pointer;
}

[data-level="easy"] {
  background-color: hsl(120, 50%, 50%);
  color: hsl(120, 50%, 20%);
  transition: background-color 0.2s, color 0.2s;
}

[data-level="medium"] {
  background-color: hsl(60, 50%, 50%);
  color: hsl(60, 50%, 20%);
  transition: background-color 0.2s, color 0.2s;
}

[data-level="hard"] {
  background-color: hsl(0, 50%, 50%);
  color: hsl(0, 50%, 20%);
  transition: background-color 0.2s, color 0.2s;
}

[data-level="easy"]:hover {
  background-color: hsl(120, 50%, 40%);
  color: hsl(120, 50%, 80%);
}

[data-level="medium"]:hover {
  background-color: hsl(60, 50%, 40%);
  color: hsl(60, 50%, 80%);
}

[data-level="hard"]:hover {
  background-color: hsl(0, 50%, 40%);
  color: hsl(0, 50%, 80%);
}
/** The gameboard can extend to a certain extent, then all elements should be made smaller
** based on the overall grid size */
